<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabelos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_cabelo.css') }}">
</head>
<body>
    <form method="POST" action="{{ url_for('cabelo.agendar_cabelo') }}">
        <!-- Data -->
        <h3>Data de Agendamento</h3>
        <input type="date" name="data" id="data" required>
        
        <!-- Cabelo -->
        <h3>Cabelos:</h3>
        <select name="tipo_cabelo" required>
            <option value="degrade">Degrade</option>
            <option value="social">Social</option>
            <option value="mullet">Mullet</option>
            <option value="navalhado">Navalhado</option>
            <option value="militar">Militar</option>
            <option value="careca">Careca</option>
        </select>
        
        <!-- Horário -->
        <h3>Horario:</h3>
        <select name="horario_cabelo" required>
            <option value="7a12">7h as 12h</option>
            <option value="13a18">13h as 20h</option>
        </select>
        
        <!-- Forma de pagamento -->
        <h3>Forma de pagamento:</h3>
        <select name="forma_pagamento" required>
            <option value="pix">Pix</option>
            <option value="dinheiro">Dinheiro</option>
            <option value="cartao_credito">Cartão de Credito</option>
            <option value="cartao_debito">Cartão de Debito</option>
        </select>
        
        <!-- Profissional -->
        <h3>Profissional:</h3>
        <select name="profissional" required>
            <option value="alisson">Alisson</option>
            <option value="hudson">Hudson</option>
            <option value="gustavo">Gustavo</option>
            <option value="joao">João Gabriel</option>
        </select>
        
        <!-- Botão -->
        <div id="butao">
            <button type="submit" name="cent">Agendar</button>
        </div>
    </form>
</body>
</html>
