<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabelos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_cabelo.css') }}">
</head>
<body>
    <form method="POST">
        {{ form.hidden_tag() }}  <!-- Campo CSRF -->
        
        <!-- Data -->
        <h3>Data de Agendamento</h3>
        {{ form.data(class="form-control") }}  <!-- Renderiza o campo de data -->
        
        <!-- Cabelo -->
        <h3>Cabelos:</h3>
        {{ form.tipo_cabelo(class="form-control") }}  <!-- Renderiza o campo de seleção de cabelo -->
        
        <!-- Horário -->
        <h3>Horário:</h3>
        {{ form.horario_cabelo(class="form-control") }}  <!-- Renderiza o campo de seleção de horário -->
        
        <!-- Forma de pagamento -->
        <h3>Forma de pagamento:</h3>
        {{ form.forma_pagamento(class="form-control") }}  <!-- Renderiza o campo de seleção de pagamento -->
        
        <!-- Profissional -->
        <h3>Profissional:</h3>
        {{ form.profissional(class="form-control") }}  <!-- Renderiza o campo de seleção de profissional -->
        
        <!-- Botão de envio -->
        <div id="butao">
            {{ form.submit(class="btn btn-primary") }}  <!-- Renderiza o botão de envio -->
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/cru.js') }}"></script>  <!-- Seu JS customizado -->
</body>
</html>
