<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_combo.css') }}">
</head>
    <!--Conteúdo-->
<body>
    <!--Data-->
    <h3>Data de Agendamento</h3>
    <input type="date" name="data" id="data">
    <!--Combo-->
    <h3>Combos:</h3>
    <select name="tipo_Combo">
        <option value="barba_cabelo">Barba e Cabelo</option>
        <option value="barba_cabelo_sombrancelha">barba, Cabelo e Sombrancelha</option>
        <option value="cabelo_sombrancelha">Cabelo e sombrancelha</option>
    </select>
    <!--Horario-->
    <h3>Horario:</h3>
    <select name="horario_cabelo">
        <option value="7a12">7h as 12h</option>
        <option value="13a18">13h as 20h</option>
    </select>
    <!--Forma de pagamento-->
    <h3>Forma de pagamento:</h3>
    <select name="forma_pagamento">
        <option value="pix">Pix</option>
        <option value="dinheiro">Dinheiro</option>
        <option value="cartao_credito">Cartão de Credito</option>
        <option value="cartao_debito">Cartão de Debito</option>
    </select>
    <!--Profissional-->
    <h3>Profissional:</h3>
    <select name="profissional">
        <option value="alisson">Alisson</option>
        <option value="hudson">Hudson</option>
        <option value="gustavo">Gustavo</option>
        <option value="joao">João Gabriel</option>
    </select>
    <!--butão-->
    <div id="butao">
        <button name="cent">Agendar</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/cru.js') }}"></script>
</body>
</html>